
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
@Styles.Render("~/vendor/css")
@Styles.Render("~/fonts/css")
@Styles.Render("~/css/css")

<style>
    

    .ptext {
        white-space: normal;
        font-size:large;
    }
    a {
        color:black;
    }
</style>


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>

<div class="container mt-5" style="text-align:center">
    <div class="row">
        <div class="col-4">
            <div>
                <img style="width:70% ; border-radius: 50%;" src="~/images/OurTeam/Nana.jpg" />
            </div>
            <div>
                <h3 class="mt-3">NANA</h3>
                <p class="mt-2"> By NANA on June 23 , 2018</p>
                <h4><a href="https://github.com/h93279" style="color:black"><i class="fab fa-github"></i></a></h4>
                <p class="ptext mt-2">這些日子以來的學習程式一直到最後的MVC過程中學習到許多事，最重要的就是要在學習中找對方法才能提升效率，讓學習獲得最大效益。過程中或許有些犧牲，但最重要的是和大家一起合作到完成作品，必此間互相幫助的氣氛，非常興奮且印象深刻——為了同個目標往同個方向邁進，獲得同樣的喜悅以及成功。</p>
            </div>
        </div>
        <div class="col-4">
            <div>
                <img style="width:70%;border-radius: 50%;" src="~/images/OurTeam/臆玄.jpg" />
            </div>
            <div>
                <a href="https://www.cakeresume.com/s--cve_vxgKcLGqS3PYJiRtkQ--/s9100151028"><h3 class="mt-2">臆玄</h3></a>
                <p class="mt-3"> By 臆玄 on June 23 , 2018</p>
                <h4><a href="https://github.com/chenyihusan" style="color:black"><i class="fab fa-github"></i></a></h4>
                <p class="ptext mt-2">能跟團隊的大家一起合作真的很開心，專題即將結束的現在有點懷念這段日子以來的點點滴滴，很高興可以在這樣的環境下學習，我覺得對我的幫助真的很大，真的多虧了有大家互相協助，謝謝。</p>
            </div>
        </div>
        <div class="col-4">
            <div>
                <img style="width:70%;border-radius: 50%;" src="~/images/OurTeam/芸璇.jpg" />
            </div>
            <div>
                <a href="https://www.cakeresume.com/s--4lOJiBr-Qt2C_9bt0TwFwA--/5f218c"><h3 class="mt-2">芸璇</h3></a>
                <p class="mt-3"> By 芸璇 on June 23 , 2018</p>
                <h4><a href="https://github.com/hungyunhsuan" style="color:black"><i class="fab fa-github"></i></a></h4>
                <p class="ptext mt-2">很高興自己認真嘗試去做出這個專題，完成裡面一個個功能，雖然學習速度可能沒有預期中的快速，但多虧了有其他人的從旁協助，使我能順利的完成這項挑戰。</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-4">
            <div>
                <img style="width:70%;border-radius: 50%;" src="~/images/OurTeam/思源.jpg" />
            </div>
            <div>
                <a href="https://www.cakeresume.com/s--2ChkBuMz8ETJg-nAH_ggwA--/szuyuan-huang"><h3 class="mt-2">思源</h3></a>
                <p class="mt-3"> By 思源 on June 23 , 2018</p>
                <h4><a href="https://github.com/SzuYuan-Huang" style="color:black"><i class="fab fa-github"></i></a></h4>
                <p class="ptext mt-2">不管前端還是後端，身為工程師還是必須都要涉略的，經過這次團隊分工後，讓我知道團隊間的溝通協調是一件艱難的事情，很高興能跟大家合作，也希望大家都能像這次專題一樣勇往直前面對未來的挑戰。</p>
            </div>
        </div>

        <div class="col-4">
            <div>
                <img style="width:70%;border-radius: 50%;" src="~/images/OurTeam/愷佑.png" />
            </div>
            <div>
                <a href="https://www.cakeresume.com/s--JbKEQDtKkQU3SRCiAgn4lA--/yui852099"><h3 class="mt-2">愷佑</h3></a>
                <p class="mt-3"> By 愷佑 on June 23 , 2018</p>
                <h4><a href="https://github.com/KaiYo0129" style="color:black"><i class="fab fa-github"></i></a></h4>
                <p class="ptext mt-2">能看到團隊間的互助合作，以及成員間對知識與技術的熱忱，我很榮幸能夠成為大家的組長，開發的過程中雖然發生了不少事但都一一克服了，真的很開心能在這裡留下我們一起努力的證明。</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr />

</div>


<!-- Map -->
<div class="map mt-5" style="text-align:center;">
    <iframe style="width:70% ;height:500px;" src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=5j/300台灣新竹市香山區五福路二段707號&z=16&output=embed&t='></iframe>
</div>



<footer class="bg3 p-t-5 p-b-32 mt-5">
    <div class="container">
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>
@Scripts.Render("~/vendor/js1")
@Scripts.Render("~/js/js")

<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>

<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>


