
@{
    ViewBag.Title = "Search";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
@Styles.Render("~/vendor/css")
@Styles.Render("~/fonts/css")
@Styles.Render("~/css/css")

@foreach (var item in @ViewData["SearchProduct"] as List<SearchProductName>)
{
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ">
        <div class="block2">
            <div class="block2-pic hov-img0">
                <img src="@item.Image" alt="IMG-PRODUCT">

                <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" id="@item.ProductID">
                    Quick View
                </a>
            </div>

            <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                    <a href="ProductDetail.cshtml" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                        @item.ProductName
                    </a>

                    <span class="stext-105 cl3">
                        $@item.UnitPrice
                    </span>
                </div>
            </div>
        </div>
    </div>
}


